<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="container">
    <%- include("./partials/navbar.ejs") %>

    <a href="/products/createProduct">Add a new Product</a>
    <p>Our products:</p>
    <ol>
      <% products.forEach(product=>{ %>
          <h2><%= product.name %></h2>
          <h4><%= product.model %></h4>
          <a href="./products/<%= product._id %>">See Product's details</a>
          <hr>
          <br>
      <%}) %>
    </ol>

    <%- include("./partials/buttons.ejs") %>
  </div>
  <script src="js/main.js"></script>
</body>

</html>